<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="{{#if bodyClass}}{{bodyClass}}{{else}}home{{/if}}">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">{{ title }}</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/">Inbox</a>
          <a class="mdl-navigation__link" href="/outbox">Outbox</a>
          <a class="mdl-navigation__link" href="/messages/new">New message</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Messages</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Inbox</a>
        <a class="mdl-navigation__link" href="/outbox">Outbox</a>
        <a class="mdl-navigation__link" href="/messages/new">New message</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        {{{ body }}}
      </div>
    </main>
  </div>

  <script type="text/javascript" src="/js/material.min.js"></script>
</body>
</html>
